<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/format.css">
    <title>Homepage Herkshire Bathaway</title>
</head>
<body>
    <header class="header">
        <h1>Herkshire Bathaway</h1>
        <p>We're not actually real</p>
    </header>
<main>
    <div class="card">
        <div class="login">
            <div class="login_title">
                <h3>Login</h3>
                <p>{{ message }}</p>
            </div>
            <div class="login_pass">
                <form action="/login" method="POST"/>
                    <label for="username">Username: </label>
                    <input name="username" type="text" placeholder="Username"> <br><br>
                    <label for="password">Password: </label>
                    <input name="password" type="password" placeholder="Password"> <br><br>
                    <input type="submit" value="Submit">
                </form> 
            </div>
        </div>
        <nav class="bottomnav">
            <a href="#create_account">Create Account</a>
        </nav>
    </div>
</main>
</body>
</html>