<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/format.css">
    <title>Transfer Funds</title>
</head>
<body>
    <header class = "header">
        <h1>Transfer Funds</h1>
    </header>
<main>
    <div class="transfer">
        <label for="choice">Choose to deposit or withdraw:</label>
        <select id = "choice">
            <option value = "deposit">Deposit</option>
            <option value="withdraw">withdraw</option>
        </select>
        <label for="amount">Amount: </label>
        <input name="amount" type="number" step="0.01" min="0">
    </div>
</main>
</body>
</html>